html {
    height: 100vh;
    background-image: url('../images/774685123474.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  
  .newitem-title-wrapper {
    margin: 4px 10px;
  }
  
  #trello-list-title-input {
    width: 100%;
    height: 22px;
    margin-bottom: 5px;
    border: none;
    box-shadow: none;
  }

  #trello-list-title-exit {
    float: right;
  }
  
  .list {
    background: rgba(137, 187, 253, 0.8);
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 0 0 270px;
    margin: 0 5px;
    max-height: 100%;
    position: relative;
    width: 270px;
    max-width: 270px;
    cursor: pointer;
  }
  
  .list-title {
    color: rgb(0, 0, 0);
    min-height: 19px;
    padding: 8px 34px 8px 10px;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
  }

 .list:hover {
  background: rgba(168, 223, 255, 0.8);
  }
  
  .list-cards {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
  }

  .trello-new-card-title-input {
    width: 100%;
    margin-bottom: 4px;
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    height: 54px;
    border: none;
    box-shadow: none;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    overflow: auto;
    padding: 6px 8px 4px;
  }
  
  .card div {
    margin-bottom: 5px;
  }
  
  #card-edit {
    display: none;
    position: absolute;
    width: 600px;
    z-index: 15;
    top: 50px;
    left: 50%;
    margin: 0px 0 0 -300px;
    padding: 50px;
    border-radius: 3px;
    background-color: rgb(181, 209, 245);
  }
  
  #card-edit div {
    margin-bottom: 10px;
  }
  
  #card-edit label {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
  }
  
  #card-edit-inputs input {
    width: 300px;
  }
  
  #card-edit-close {
    float: right;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  
  
  #container-main {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 10;
  }
  
  .navigation-bar{
    background: rgba(3, 100, 226, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }

  header > h2 {
    color: whitesmoke;
    margin-left:20px;
  }

  header li {
    color: whitesmoke;
    font-size:15px;
    margin-right:20px;
  }


  header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  header a {
    text-decoration: none;
    outline: none;
    color: whitesmoke;
    font-size:15px;
    display: flex;
    align-items: center;
    margin-right:20px;
  }

  #card-edit-close img {
    width: 20px;
    height: 20px;
  }
  
  #card-edit-delete {
    float: left;
    width: 70px;
    background-color: #af1a00;
    color: #fff;
  }
  
  #card-edit-submit {
    float: right;
    width: 70px;
    background-color: #40a75f;
    color: #fff;
  }

  #trello-canvas-board {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  