<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/trello.css">
    <script src="/js/home/trello/card.ctrl.js" defer></script>
    <script src="/js/home/trello/list.ctrl.js" defer></script>
    <script src="/js/home/trello/trello.js" defer></script>

    <title>Dev_TEST</title>
</head>
<body>

    <header class="navigation-bar">
        <h2>Trello</h2>
        <nav>
            <ul>
                <% if( locals.is_logined == false ) { %>           
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/register">회원가입</a></li>
                <% } else { %>
                    <li><%= name + ' ' + '(' + id + ')' %> 님 환영합니다!</li>              
                <li><a href="/logout">로그아웃</a></li>
                <% } %>
            </ul>
        </nav>
    </header>

    <div id="container"></div>

    <div id="container-main"></div>

    <div id="card-edit">
        <div id="card-edit-close">x</div>
        <form>
            <div id="card-edit-inputs">
                <div>
                    <label>Content:</label>
                    <input id="card-edit-title">
                </div>
            </div>
            <div>
                <input id="card-edit-delete" type="button" value="Delete">
                <input id="card-edit-submit" type="submit" value="Save">
            </div>
        </form>
    </div>
</body>
</html>